/* Default styles */
body {
  background-color: white !important; /* Light mode background color */
  color: black !important; /* Light mode text color */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black !important; /* Dark mode background color */
    color: white !important; /* Dark mode text color */
  }
}